/*Google fonts starts here*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:ital,wght@0,200;1,200&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@200&family=Tilt+Warp&family=Titillium+Web:wght@300&family=Ubuntu:wght@400;500;700&display=swap');

/*unic section  starts here*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    transition: all 0.3s linear;
    text-transform: capitalize;
    list-style-type: none;
}

*::selection{
    background-color: rgb(226, 226, 120);
    color: rgb(73, 68, 68);
}
:root{
    /* --main-color: #d3ad7f; */
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    --orange: #ffa500;
    --crimson: #f54242;
    --pink: #e84393;
    /* for personal portfoolio colors */
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1.2rem;
}
html::-webkit-scrollbar-track{
    background: #222;  
}
html::-webkit-scrollbar-thumb{
    background: rgb(189, 192, 36);
}


/*custom css starts here*/


/*header section starts here*/
.header{
    min-height: 100vh;
    width: 100%;
    background-color: orange;
    

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3%;
}
.logo{
    font-size: 4rem;
    font-weight: bold;
    color: var(--light-color);
    font-family: 'Roboto Condensed', sans-serif
}
i.fa-truck{
    font-size: 4rem;
    color: #192a56;
    padding-right: 1rem;
}
.flex-end{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 1rem;
}
.flex-end p{
    font-size: 1.5rem;
}
.menu a{
    color: var(--light-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 1rem;
}
.menu a:hover{
    color: black;
	text-decoration: underline;
}

/*home section*/
.home{

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    padding: 0 5rem;
}
.home-content p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem;
    display: inline-block;
    border: 0.2rem dashed var(--light-color);
    
}
.home-content h1{
    font-size: 10rem;
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
    
    text-transform: uppercase;
}
.home-content h2{
    font-size: 5rem;
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
    text-transform: uppercase;
}
.home-image{
    max-width: 40rem;
}
.home-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*header sectoin ends here*/



/*burger section starts here*/
.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5%;
}
.left{
    height: 40rem;
    width: 40rem;
    margin-right: 5rem;
    border-radius: 1rem;
}
.left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: 0.5s;
}
.left img:hover{
    transform: scale(1.2);
}
.right div{  
    height:20rem;
    width: 40rem;
    border-radius: 1rem;
}
.right div:nth-child(1){
     padding-bottom: 2rem;
}

.right div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: 0.5s;
}
.right div img:hover{
     transform: scale(1.2);
}

/*burger section ends here*/



/*testy burger section starts here*/
.testy-burger-heading{
    font-size: 1.6rem;
    background-color: #ffa500;
    padding-bottom: 1rem;
    text-align: center;
    padding: 1rem 0;
}
.testy-burger-content h3{
    font-size: 5rem;
    padding: 3rem 0;
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(83, 60, 0);
}
.testy-burger-content p{
    font-size: 1.5rem;
    color: #b37400;
    text-align: center;
}

.testy-burger-card{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.card{
    margin: 0 3rem;
}
.card p{
     font-size: 1.5rem;
}
.card img{
   height: 20rem;
   width: 17rem;

}
.card-heading{
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem 0;
    text-transform: uppercase;
    color: #b37400;
} 
.card button{
    background: crimson;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    border: none;
    outline: none;
}
.card button:hover{
    background: white;
	color: black;
	
    
}
/*Upcoming events starts here*/
.upcoming-event{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}
.upcoming-event-left{
    border-radius: 0.5rem;
}  
.upcoming-event-left h3{
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.upcoming-event-left h4{
    font-size: 5rem;
    font-family: 'Tilt Warp', cursive;
    color: rgb(80, 60, 20);
    text-transform: uppercase;
}
.upcoming-event-left p{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1rem; 
}
.upcoming-event-right{
    width: 45%;
    height: auto;
}
.upcoming-event-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*upcoming events ends here*/

/*book table section starts here*/
.book-tables{
    padding: 0;
    margin: 0;
}
.book-header{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.book-header1{
   font-size: 5rem;
   text-align: center;
   font-family: 'Tilt Warp', cursive;
   color: #b37400;
}
.book-table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-div input{
    padding: 1rem 2rem;
    margin: 1rem 0.5rem;
    border: 0.1rem solid #999;
    outline: 0;
    border-radius: 0.5rem;
}
.find-table{
    background: crimson;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 0;
    outline: 0;
    width: 22.5rem;
    height: 5rem;
    transition: 0.5s;
}
.find-table:hover{
    background: white;
    color: crimson;
}
.find-table::placeholder{
    color: white;
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/*book table section ends here*/


/*footer section starts here*/
.footer{
    padding: 5rem 0;
    background: #323946;
    position: relative;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-house1, .burger-house{
    width: 45%;
    padding: 1rem 3rem;
}

.burger-logo p{
    font-size: 1.5rem;
    padding-top: 2rem;
	color: white;
}    
.burger-logo-bh{
    font-size: 3rem;
	color: white;
}
.burger-logo span i.fa-solid{
    font-size: 3rem;
    color: rgb(204, 204, 204);
    padding-right: 2rem;
	&:hover{
		color:crimson;
	}	
}
.burger-content-footer{
    font-size: 1.5rem;
    padding-top: 10rem;
}
.burger-content-footer span{
    color: crimson;
    text-transform: uppercase;
    padding-left: 0.5rem;
    font-size: 1.6rem;
}
.area{
   width: 35rem;
   margin-right: 10rem;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
.area div{
    margin: 1rem 0;
}
.area div span{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: white;
}
.area div i:hover{
	color:crimson
}
.fa-location-dot, .fa-message{
    font-size: 2rem;
    padding-right: 1rem;
    color: #fff;
}
.social-media{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.social-media i{
    font-size: 3rem;
    padding: 0 1rem;
    color: white;
	&:hover{
		color:crimson;
	}
}
/*footer section ends here*/



/*Resoponsive area starts here*/
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}


@media (max-width: 991px){
   .header{
    padding: 2rem 3%;
   }
   section{
    padding: 10rem 3% 2rem;
   }
   .footer{
    padding: 2rem 3%;
   }
}


@media (max-width: 768px){
    .logo{
        font-size: 3rem;
        
    }
    .navbar{
       padding: 3rem 3%;
    }
    .navinfo{
        position: relative;
    }
    .menu{
        position: absolute;
        top: 100%;
        left: 0;      
    }
    .menu a{
        display: block;
        text-align: center;
        
        border-radius: 0.5rem;
        width: 100%;
        margin: 1rem 0;
    }
    .home{
        flex-direction: column;
        margin-top: 20rem;
    }
    .home-content p{
        font-size: 1.3rem;
       
        
    }
    .home-content h1{
        font-size: 7rem;
       
    }
    .home-content h2{
        font-size: 4rem;
        
    }
    .burger{
        flex-direction: column;
        padding-top: 5rem;
    }
    .left{
        padding: 4rem;
    }
    .testy-burger-card{
        grid-template-columns: repeat(1, 1fr);  
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .upcoming-event{
        flex-direction: column;
    }
    .upcoming-event-left h3{
        font-size: 2rem;
        padding-bottom: .8rem;
        text-align: center;
    }
    .upcoming-event-left h4{
        font-size: 3rem;  
        text-align: center;
    }
    .upcoming-event-left p{
        font-size: 1.3rem;
        padding-top: .8rem; 
        text-align: center;
    }
    .footer-container{
       flex-direction: column;
       align-items: flex-start;
    }
    .burger-logo span i.fa-solid{
       display: block;
    }
 
  
 }
 
 
 @media (max-width: 450px){
   
   html{
     font-size: 50%;
   }
   .logo{
    font-size: 2rem;
    
}
.navbar{
   padding: 2rem 2%;
}
.navinfo{
    position: relative;
}
.menu{
    position: absolute;
    top: 100%;
    left: 0;
    
}
.menu a{
    display: block;
    text-align: center;
    
    border-radius: 0.5rem;
    width: 100%;
    margin: 1rem 0;
}
.home{
    flex-direction: column;
    margin-top: 15rem;
}
.home-content p{
    font-size: 1.2rem;
   
    
}
.home-content h1{
    font-size: 5rem;
   
}
.home-content h2{
    font-size: 3rem;
    
}

}



/*Responsive area ends here*/



